input {
    background-color: #e3dac9 ;
} 
.rent {
    margin-left: 52px;
}

.btn{
    margin-left: 200px;
}

#error-message{
    display: none;
}
#error-message2{
    display: none;
}
#error-message3{
    display: none;
}
#save-error-message{
    display: none;
}
